#redmeup{
  color: red;
}

.container{
  font-family: 'Indie Flower', cursive;
}

/* .jumbotron-fluid p {
  font-family: 'Indie Flower', cursive;
}

.jumbotron-fluid h1 {
  font-family: 'Indie Flower', cursive;
  color: red
} */
