body{
  font-family: 'Raleway', sans-serif;
  color: #FDFFFC;
  text-align: center;
  background-color: #011627;
  border: 60px solid #2EC4B6;
  border-top: 0px;
  /*border-bottom: 0px;*/
  margin: 0px;

}


#submitbtn{
  background-color: orange;
  border-radius: 25px;
  border: 1px solid white;
  height: 80px;
  width: 150px;
  font-family: 'Raleway';
  font-size: 1.2em;
  margin-bottom: 4px;
}

#dummy{
  margin-bottom: 5%;
  padding: 5% 20% 0% 20%;
}

h1{
  margin: 0;
  font-size: 2.5em;
}

h2 {
  padding-bottom: 5%;
}
